   {% load staticfiles %}
    <html>
        <head>
	    <title>Web Trueque</title>
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="{% static 'css/trueque.css' %}">
	    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">	
            
        </head>
        <body>
            <div class= "page-header">
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu" >Añadir anuncio <span class="glyphicon glyphicon-plus"></span></a>
			<p class="top-menu" >Bienvenido {{ user.username }}<small>(<a href="{% url 'logout' %}">Salir</a>)</small></p>
		{% else %}
			<a href="/accounts/register"class="top-menu">Regístrate</a>
			<a href="{% url 'login' %}" class="top-menu">Iniciar sesión</a>
		{% endif %}
		<h1><a href="/">Web trueque</a></h1>
            </div>
     	    <div id="navegador">
		<ul>
			<li><a href="/">Anuncios</a></li>
			<li><a href="/info.html">Información al usuario</a></li>
		</ul>
	    </div> 
  	      <div class="content container">
       		 <div class="row">
          	  <div class="col-md-8">
              	 	{% block content %}
   			{% endblock %}
          	 </div>
        	</div>
   	     </div>
        </body>
    </html>
