{% extends "trueque/base.html" %}

{% block content %}
    <h1>Información para el usuario</h1>
   	<p>Funcionalidades: <br />·Tanto usuarios como visitantes pueden ver los anuncios. <br />·Solo usuarios registrados pueden iniciar sesión. <br />·Una vez registrados y logueados, los usuarios pueden crear, visualizar en profundidad y responder anuncios. <br />·Solo los creadores de un anuncio pueden borrarlo. <br />·Solo los creadores de un anuncio pueden aceptar una o varias respuestas para llevar a cabo el/los intercambio/s. <br />·Los creadores del anuncio o los creadores de la respuesta podrán borrar una respuesta si así lo estiman necesario. <br />·Solo las respuestas aceptadas por el solicitante se mostrarán a todos. <br />·Un usuario podrá modificar sus hilos si así lo desea. </p>
  
{% endblock %}
