    {% extends 'trueque/base.html' %}

    {% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.fecha_publicacion }}
                </div>
                <h1><a href="{% url 'trueque.views.post_detail' pk=post.pk %}">{{ post.titulo }}</a></h1>
                <p>{{ post.texto|linebreaksbr }}</p>
		<a href="{% url 'post_detail' pk=post.pk %}">Número de respuestas: {{ post.comments.count }}</a>
            </div>
        {% endfor %}
    {% endblock content %}
