    {% extends 'trueque/base.html' %}

    {% block content %}
        <div class="post">
            {% if post.fecha_publicacion %}
                <div class="date">
                    {{ post.fecha_publicacion }}
		    {% if post.autor|stringformat:"s" == user.username %}
		    	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		    	<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		    {% endif %}
                </div>
            {% endif %}
            <h1>{{ post.titulo }}</h1>
            <p>{{ post.texto|linebreaksbr }}</p>
	    <strong>{{ post.autor }}</strong>
        </div>
	<hr>
	<p>¿Estás interesado?</p>
	<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Responder al anuncio</a>
	{% for comment in post.comments.all %}
		{% if comment.autor|stringformat:"s" == user.username or post.autor|stringformat:"s" == user.username or comment.aceptado %}
    		<div class="comment">
        		<div class="date">
				{{ comment.fecha_creacion }}
				{% if not comment.aceptado %}
					{% if post.autor|stringformat:"s" == user.username %}
						<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
					{% endif %}
               				<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                		
            			{% endif %}
			</div>
			{% if comment.aceptado %}
				<strong> Aceptado:</strong>
			{% endif %}
        		<strong>{{ comment.autor }}</strong>
        		<p>{{ comment.texto|linebreaks }}</p>
  		</div>
		{% endif %}
	{% empty %}
    		<p>Aun no ha recibido ninguna respuesta.</p>
	{% endfor %}
    {% endblock %}
